.countdownForm {
  display: grid;
  gap: 1.5rem;
}

.countdownForm input {
  font: inherit;
}

.emojiPickerPopover {
  background-color: rgba(0, 0, 0, 0);
}

:popover-open {
  border: none;
}

:popover-open::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.emojiColorContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.emojiBtn {
  font-size: 2rem;
  border: none;
  background: none;
}

.colorPicker {
  width: 100%;
  height: 3rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.formLabel {
  width: 100%;
  display: grid;
  grid-template-areas: "input";
}

.formInput {
  grid-area: input;

  background-color: rgba(0, 0, 0, 0);

  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  box-sizing: border-box;
}

.formText {
  grid-area: input;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0);

  width: max-content;
  height: 100%;

  margin-left: 1rem;
  padding: 0 0.5rem;

  display: flex;
  align-items: center;

  transform-origin: left center;
  transition: 0.3s;
}

.formInput:is(:focus, :not(:placeholder-shown)) + .formText {
  background-color: var(--background-color);
  transform: translateY(-50%) scale(0.7);
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnContainer button {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.discardBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid grey;
}

.discardBtn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  background-color: grey;
}

.deleteBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid red;
  color: red;
}

.deleteBtn:hover {
  color: white;
  background-color: red;
}

.updateBtn,
.saveBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid green;
  color: green;
}

.updateBtn:hover,
.saveBtn:hover {
  color: white;
  background-color: green;
}
