@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f1f1f1;
    --text-color: #222;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #f1f1f1;
  }
}


html {
  font-family: Verdana, sans-serif;
  font-size: 125%;

  user-select: none;
  -webkit-user-select: none;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.hidden {
  display: none;
  opacity: 0;
}

#addBtn {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);

  color: var(--background-color);
  background-color: var(--text-color);

  border: none;
  font-size: 2.5rem;
  line-height: 1;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}