.bottomSheet {
  border: none;
  margin: 0;

  background-color: var(--background-color);

  position: fixed;
  top: auto;
  left: 50%;
  transform: translateX(-50%);

  width: min(100vw, 992px);
  max-width: 100vw;
  max-height: 90vh;

  box-sizing: border-box;
  overflow: auto;

  border-radius: 1rem 1rem 0 0;

  animation: slideIn 0.3s forwards;
}

.bottomSheet::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slideIn {
  from {
    /* Comienza 100% fuera de la vista hacia abajo */
    transform: translate(-50%, 100%);
  }
  to {
    /* Termina en la posición visible */
    transform: translate(-50%, 0);
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10; /* Asegura que esté sobre el contenido */
}

.content {
  padding: 30px 20px 20px 30px;
}
