:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 100%;

  color-scheme: light dark;

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  user-select: none;
  -webkit-user-select: none;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #242424;
    --background-color: #ffffff;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 125%;
  }
}
